In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime
from yahoo_finance import Share
%matplotlib inline

stock = Share('YHOO')
print(stock.get_open())

46.41

In [12]:
print(stock.get_price())

46.76

In [13]:
print(stock.get_trade_datetime())

2017-04-05 17:08:00 UTC+0000

In [14]:
stock_hist = pd.DataFrame(stock.get_historical('2014-04-01', '2017-01-31'))
'''[{u'Volume': u'28720000', u'Symbol': u'YHOO',
  u'Adj_Close': u'35.83', u'High': u'35.89',
  u'Low': u'34.12', u'Date': u'2014-04-29',
  u'Close': u'35.83', u'Open': u'34.37'},
 {u'Volume': u'30422000', u'Symbol': u'YHOO', 
  u'Adj_Close': u'33.99', u'High': u'35.00', 
  u'Low': u'33.65', u'Date': u'2014-04-28', 
  u'Close': u'33.99', u'Open': u'34.67'}, 
 {u'Volume': u'19391100', u'Symbol': u'YHOO',
  u'Adj_Close': u'34.48', u'High': u'35.10',
  u'Low': u'34.29', u'Date': u'2014-04-25',
u'Close': u'34.48', u'Open': u'35.03'}]'''

"[{u'Volume': u'28720000', u'Symbol': u'YHOO',\n  u'Adj_Close': u'35.83', u'High': u'35.89',\n  u'Low': u'34.12', u'Date': u'2014-04-29',\n  u'Close': u'35.83', u'Open': u'34.37'},\n {u'Volume': u'30422000', u'Symbol': u'YHOO', \n  u'Adj_Close': u'33.99', u'High': u'35.00', \n  u'Low': u'33.65', u'Date': u'2014-04-28', \n  u'Close': u'33.99', u'Open': u'34.67'}, \n {u'Volume': u'19391100', u'Symbol': u'YHOO',\n  u'Adj_Close': u'34.48', u'High': u'35.10',\n  u'Low': u'34.29', u'Date': u'2014-04-25',\nu'Close': u'34.48', u'Open': u'35.03'}]"

In [22]:
stock_hist['Date'] = stock_hist['Date'].astype(datetime)
stock_hist['Close'] = stock_hist['Close'].astype(float)
stock_hist['Open'] = stock_hist['Open'].astype(float)

In [23]:
stock_hist.head()

,Adj_Close,Close,Date,High,Low,Open,Symbol,Volume,prevClose
0,44.07,44.070000,2017-01-31,44.150002,43.669998,43.779999,YHOO,5153500,NaN
1,43.93,43.930000,2017-01-30,44.220001,43.709999,44.220001,YHOO,6903900,44.070000
2,44.419998,44.419998,2017-01-27,44.709999,44.23,44.540001,YHOO,4942800,43.930000
3,44.549999,44.549999,2017-01-26,45.080002,44.400002,44.830002,YHOO,9972700,44.419998
4,44.939999,44.939999,2017-01-25,45.00,44.09,44.110001,YHOO,11082400,44.549999

## Project Scope

The beginning of this project will aim to investigate at the difference between the previous day's close and the following day's open.  Then a predictive algorithm will predict whether the stock price will be lower or higher.  

This will be a basic categorical approach to stock price prediction.

#### Additional Work

Secondary work will include magnitude of changes, ensemble approaches, and possibly principal component analysis to produce more accurate results.

In [24]:
#stock_hist.plot.line(x='Date',y='Close')
#plt.xticks(rotation=90)

In [25]:
#stock.get_percent_change_from_200_day_moving_average()

In [26]:
#stock.get_year_range()

In [27]:
stock_hist['prevClose'] = stock_hist['Close'].shift(1)

In [28]:
stock_hist['openDiff'] = stock_hist['Open']-stock_hist['prevClose']

In [29]:
stock_hist.head()

,Adj_Close,Close,Date,High,Low,Open,Symbol,Volume,prevClose,openDiff
0,44.07,44.070000,2017-01-31,44.150002,43.669998,43.779999,YHOO,5153500,NaN,NaN
1,43.93,43.930000,2017-01-30,44.220001,43.709999,44.220001,YHOO,6903900,44.070000,0.150001
2,44.419998,44.419998,2017-01-27,44.709999,44.23,44.540001,YHOO,4942800,43.930000,0.610001
3,44.549999,44.549999,2017-01-26,45.080002,44.400002,44.830002,YHOO,9972700,44.419998,0.410004
4,44.939999,44.939999,2017-01-25,45.00,44.09,44.110001,YHOO,11082400,44.549999,-0.439998